{{ define "main" }}
<section class="py-5">
  <div class="container">
    <h3 class="text-center">{{ .Title }}</h3>
    {{ with .Content }}<div class="text-center mb-4">{{ . }}</div>{{ end }}

    {{/* Tag filter bar */}}
    {{ partial "tag-filter-bar.html" (dict "pages" .Pages "section" "blogs") }}

    <div id="blog-grid" class="row justify-content-center px-3 px-md-5">
      {{ range .Paginator.Pages }}
        {{ if not .Draft }}
        {{ $tags := .Params.tags }}
        {{ $tagsUrlized := slice }}
        {{ range $t := $tags }}{{ $tagsUrlized = $tagsUrlized | append ($t | urlize) }}{{ end }}
        <div class="col-lg-4 col-md-6 my-3 post-card" data-tags="{{ delimit $tagsUrlized " " }}">
          <div class="card h-100">
            {{ with .Params.featuredImage }}
              <img class="card-img-top" src="{{ . | relURL }}" alt="{{ $.Title }}">
            {{ end }}
            <div class="card-body p-3">
              <h5 class="card-title mt-1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
              <div class="text-secondary"><small>{{ .Date.Format "Jan 2, 2006" }}</small></div>
              {{ with .Params.description }}<p class="card-text mt-2">{{ . }}</p>{{ end }}
              {{ if $tags }}
                {{ partial "tag-system.html" (dict "tags" $tags "section" "blogs" "context" .) }}
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      {{ end }}
    </div>

    {{ template "_internal/pagination.html" . }}
  </div>
</section>

<link rel="stylesheet" href="/css/blog-tags.css">
<script src="/js/tag-filter.js" defer></script>
<link rel="stylesheet" href="/css/callouts.css">
<script src="/js/callouts.js" defer></script>
{{ end }}




